
body {
  background-image: url(burst-bg.svg), linear-gradient(0deg, rgba(255,127,2,1) 0%, rgba(255,55,126,1) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.p-artists {
  padding-left: 22vw;
  padding-right: 22vw;
}

.content {
  background: rgba(0, 0, 0, 0.09);
  height: 100vh;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(33, 33, 33, 0.2);
  height: 180px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
}

.slides {
  position: relative;
  display: flex;
  flex-direction: row;
}

#mood-logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 140px;
}

#navigation-social-icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 140px;
}

#instagram {
  margin-right: 40px;
}

#twitter {
  margin-right: 40px;
}

#wordpress{
  margin-right: 40px;
}

#facebook {
  margin-right: 40px;
}

#youtube {
  margin-right: 40px;
}

.animated {
  transition: 1s;
}

.fadeInLeft {
  margin-right: 0;
  margin-left: 25vw;

  opacity: 1;
}

.slides.artist > .artist-section {
  margin-right: 100vw;
  opacity: 1;
}

.slides.artist > .listener-section {
  margin-left: 0;
  opacity: 0;
}

.slides.listener > .listener-section {
  margin-left: 100vw;
  opacity: 1;
}

.slides.listener > .artist-section {
  margin-right: 0;
  opacity: 0;
}

.artist-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.listener-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Asap', sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0;
  color: #EFEFF4;
  opacity: 1;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

p {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #EFEFF4;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.tif-button {
  margin-top: 70px;
}

.tif{
  max-width: 248px;
  max-height: 81px;
}

.upm-button {
  margin-top: 70px;
}

.upm{
  max-width: 320px;
  max-height: 81px;
}

.mfa-button {
  margin-top: 70px;
}

.mfa{
  max-width: 320px;
  max-height: 81px;
}


.page-buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.sp {
  margin-right: 10px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.up {
  margin-right: 10px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.hidden {
  display: none !important;
}


@media screen and (min-width: 768px) and (max-width: 1024px)  {
  body {
    background-image: url(burst-tablet.svg), linear-gradient(0deg, rgba(255,127,2,1) 0%, rgba(255,55,126,1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
  }

  .p-artists {
    padding-left: 16vw;
    padding-right: 16vw;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: none;
    height: auto;
    margin-bottom: 36px;
  }

  #mood-logo {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  #navigation-social-icons {
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }

  h1 {
    font-family: 'Asap', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    color: #EFEFF4;
    opacity: 1;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    color: #EFEFF4;
    opacity: 1;
    margin: 0;
    padding: 0;
  }


  #ig{
    max-width: 30px;
    max-height: 30px;
  }

  #tw{
    max-width: 40px;
    max-height: 30px;
  }

  #wp{
    max-width: 30px;
    max-height: 30px;
  }

  #fb{
    max-width: 30px;
    max-height: 30px;
  }

  #yt{
    max-width: 30px;
    max-height: 30px;
  }

  #p{
    max-width: 30px;
    max-height: 30px;
  }

  #instagram {
    margin-right: 30px;
  }

  #twitter {
    margin-right: 30px;
  }

  #wordpress{
    margin-right: 30px;
  }

  #facebook {
    margin-right: 30px;
  }

  #youtube {
    margin-right: 30px;
  }

  .copy-buttons {
    margin-bottom: 180px;
  }


}

@media screen and (max-width: 767px)  {
  body {
    background-image: url(burst-mobile.svg), linear-gradient(0deg, rgba(255,127,2,1) 0%, rgba(255,55,126,1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: none;
    height: auto;
  }

  #mood-logo {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  #navigation-social-icons {
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }

  .copy-buttons {
    margin-bottom: 180px;
  }

  h1 {
    font-family: 'Asap', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    color: #EFEFF4;
    opacity: 1;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    color: #EFEFF4;
    opacity: 1;
    margin: 0;
    padding: 0;
  }

  .tif{
    max-width: 169px;
    max-height: 63px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .tif-button {
    margin-top: 40px;
  }

  .upm-button {
    margin-top: 40px;
  }

  .mfa-button {
    margin-top: 0px;
  }

  .upm{
    max-width: 191px;
    max-height: 63px;
  }

  .mfa{
    max-width: 191px;
    max-height: 63px;
  }

  #ig{
    max-width: 20px;
    max-height: 20px;
  }

  #tw{
    max-width: 30px;
    max-height: 20px;
  }

  #wp{
    max-width: 20px;
    max-height: 20px;
  }

  #fb{
    max-width: 20px;
    max-height: 20px;
  }

  #yt{
    max-width: 20px;
    max-height: 20px;
  }

  #p{
    max-width: 20px;
    max-height: 20px;
  }

  #logo {
    max-width: 240px;
    max-height: 160px;
  }

  #instagram {
    margin-right: 20px;
  }

  #twitter {
    margin-right: 20px;
  }

  #wordpress{
    margin-right: 20px;
  }

  #facebook {
    margin-right: 20px;
  }

  #youtube {
    margin-right: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .p-artists {
    padding-left: 6vh;
    padding-right: 6vh;
  }

}
